p {
    font-weight: 300;
    font-size: 1.1em;
}

.wrap {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
}

.wrap:after {
    content: "";
    display: table;
    clear: both;
}

img {
    max-width: 100%;
    width: auto\9;
    height: auto;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}

#map_canvas img, .google-maps img {
    max-width: none;
}

figure {
    margin-left: -1.618em;
    margin-right: -1.618em;
}

@media screen and (min-width: 37.5em) {
    figure {
        margin-left: 0;
        margin-right: 0;
        position: relative;
    }
}

figure:after {
    content: "";
    display: table;
    clear: both;
}

figure img, figure .fluid-width-video-wrapper, figure .palette {
    margin-bottom: 12px;
}

figure a img {
    -webkit-transition: box-shadow 0.3s;
    -moz-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;
}

figure a img:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

figure.half {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
}

figure.half:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (min-width: 37.5em) {
    figure.half a, figure.half>img {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%;
    }
    figure.half a:last-child, figure.half>img:last-child {
        margin-right: 0;
    }
    figure.half a:nth-child(2n), figure.half>img:nth-child(2n) {
        margin-right: 0;
    }
    figure.half a:nth-child(2n + 1), figure.half>img:nth-child(2n + 1) {
        clear: left;
    }
    figure.half figcaption {
        clear: left;
    }
}

figure.third {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
}

figure.third:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (min-width: 37.5em) {
    figure.third a, figure.third>img {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 31.76157%;
    }
    figure.third a:last-child, figure.third>img:last-child {
        margin-right: 0;
    }
    figure.third a:nth-child(3n), figure.third>img:nth-child(3n) {
        margin-right: 0;
    }
    figure.third a:nth-child(3n + 1), figure.third>img:nth-child(3n + 1) {
        clear: left;
    }
    figure.third figcaption {
        clear: left;
    }
}

figcaption {
    padding-left: 1.618em;
    padding-right: 1.618em;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.71429;
    margin-bottom: 24px;
    margin-bottom: 1.5rem;
    color: #656564;
    clear: both;
}

@media screen and (min-width: 37.5em) {
    figcaption {
        padding-left: 0;
        padding-right: 0;
    }
}

figcaption a {
    color: #656564;
    text-decoration: none;
    border-bottom: 1px dotted #656564;
}

figcaption a:hover {
    border-bottom-style: solid;
}

.half figcaption, .third figcaption {
    padding-left: 0;
    padding-right: 0;
}

svg:not(:root) {
    overflow: hidden;
}

hr {
    display: block;
    position: relative;
    margin: 48px 0;
    margin: 3rem 0;
    padding: 0;
    height: 5px;
    border: 0;
}

hr:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 8.4716em;
    height: 1px;
    background: #ddd;
}

.hidden, .load {
    display: none;
}

.no-scroll {
    overflow: hidden;
}

/**
 * Menu no topo
 */

.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown>.dropdown-toggle:active {
    pointer-events: none;
}

.navbar-nav li {
    margin-right: 1.5em;
    margin-top: 0.3em;
}

.post-grid-mini {
    margin-bottom: 10px;
}

.post-grid-mini div.image {
    padding-top: 10px;
}

.post-grid-mini p {
    line-height: 1.3em;
    color: #4e545c;
}

.post-grid-mini p.meta {
    font-size: 0.95em;
}

.post-grid-mini p.meta i {
    margin-left: 1.2em;
    margin-right: 0.3em;
}

.post-grid-mini p.meta i:first-child {
    margin-left: 0;
}

#page-wrapper {
    height: 100%;
    width: 100%;
    -webkit-overflow-scrolling: touch;
    z-index: 2;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

#page-wrapper.slide {
    -webkit-transform: translate(-60rem, 0);
    -moz-transform: translate(-60rem, 0);
    -ms-transform: translate(-60rem, 0);
    -o-transform: translate(-60rem, 0);
    transform: translate(-60rem, 0);
}

@media screen and (min-width: 56.25em) {
    #main .inner-wrap {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 74.41059%;
    }
    #main .inner-wrap:last-child {
        margin-right: 0;
    }
}

#main .page-title {
    width: 100%;
}

.page-content {
    width: 100%;
}

.page-content>p:first-child {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: 24px;
    margin-bottom: 1.5rem;
}

.page-content a {
    text-decoration: none;
}

.page-content p a, .page-content li a {
    border-bottom: 1px dotted #a2a2a2;
}

.page-content p a:hover, .page-content li a:hover {
    border-bottom-style: solid;
}

.page-content p>a.reversefootnote {
    border-bottom-width: 0;
}

.page-content .toc li>a {
    border-bottom-width: 0;
}

.page-content .page-footer, .page-content .pagination {
    width: 100%;
}

.page-content .page-meta p {
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.71429;
    margin-bottom: 0;
    font-family: "Helvetica Neue", "Segoe UI", Arial, sans-serif;
    color: #999;
}

.archive-wrap {
    width: 100%;
}

.archive-wrap .page-content {
    width: 100%;
}

#main .ads {
    position: relative;
    text-align: center;
    margin-top: 1.618em;
    margin-left: -1.618em;
    margin-right: -1.618em;
    padding: 10px 0 20px;
    background: #eaeaea;
}

@media screen and (min-width: 56.25em) {
    #main .ads {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 23.23176%;
        margin-left: 0;
        margin-right: 0;
    }
    #main .ads:last-child {
        margin-right: 0;
    }
}

#main .ads:after {
    content: "Advertisement";
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    display: block;
    font-size: 9px;
    font-size: 0.5625rem;
    line-height: 2.66667;
    margin-bottom: 0;
    font-family: "Helvetica Neue", "Segoe UI", Arial, sans-serif;
}

#main .ads ins {
    border-width: 0;
}

.page-lead {
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    color: #fff;
}

@media screen and (min-width: 80em) {
    .page-lead {
        background-size: cover;
    }
}

.page-lead-content {
    padding: 1em;
}

@media screen and (min-width: 56.25em) {
    .page-lead-content {
        padding: 2em;
    }
}

@media screen and (min-width: 80em) {
    .page-lead-content {
        padding: 3em;
    }
}

.page-lead-content h1 {
    font-size: 48px;
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 24px;
    margin-bottom: 1.5rem;
}

@media screen and (min-width: 56.25em) {
    .page-lead-content h1 {
        font-size: 60px;
        font-size: 3.75rem;
        line-height: 1.2;
        margin-bottom: 24px;
        margin-bottom: 1.5rem;
    }
}

@media screen and (min-width: 80em) {
    .page-lead-content h1 {
        font-size: 72px;
        font-size: 4.5rem;
        line-height: 1;
        margin-bottom: 24px;
        margin-bottom: 1.5rem;
    }
}

.page-lead-content h2 {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1.2;
    margin-bottom: 24px;
    margin-bottom: 1.5rem;
}

@media screen and (min-width: 56.25em) {
    .page-lead-content h2 {
        font-size: 24px;
        font-size: 1.5rem;
        line-height: 1;
        margin-bottom: 24px;
        margin-bottom: 1.5rem;
    }
}

@media screen and (min-width: 80em) {
    .page-lead-content h2 {
        font-size: 32px;
        font-size: 2rem;
        line-height: 1.5;
        margin-bottom: 24px;
        margin-bottom: 1.5rem;
    }
}

.page-feature {
    width: 100%;
}

.page-feature img {
    width: 100%;
}

.page-image {
    position: relative;
    margin-left: -1.618em;
    margin-right: -1.618em;
}

.page-image .image-credit {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 auto;
    padding: 10px 15px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-family: "Helvetica Neue", "Segoe UI", Arial, sans-serif;
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 2;
    margin-bottom: 0;
    text-align: right;
    z-index: 10;
}

.page-image .image-credit a {
    color: #fff;
    text-decoration: none;
}

.page-footer {
    margin-top: 80px;
    position: relative;
}

.author-image {
    position: absolute;
    left: 0;
}

.author-image img {
    width: 80px;
    height: 80px;
    border-radius: 3px;
}

.author-content {
    word-wrap: break-word;
    padding-left: 100px;
    min-height: 80px;
}

.author-name {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1.2;
    margin-bottom: 0;
}

.author-bio {
    margin-top: 0;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 24px;
    margin-bottom: 1.5rem;
}

.fdb-block {
    padding-top: 30px !important;
    padding-bottom: 80px !important;
}

.hero-block {
    padding-top: 80px;
    height: 250px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

footer p {
    color: #7c8694;
}

.coord-info i {
    padding-right: 10px;
}

.breath-top {
    margin-top: 30px;
}

footer .nav-link {
    color: #8892a0 !important;
}

header .dropdown-toggle {
    color: black;
}

header .navbar-brand {
    color: black;
    font-weight: bold;
}

header .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
}