<div class="col-sm-12 mb-8">
    <div class="row">
        <!-- <div class="col-3">
            <img alt="image" class="rounded w-full h-55 object-cover object-center" src="{{ site.url }}/images/{{ person.avatar }}">
        </div> -->
        <div class="col-9">
            <div class="px-1">
                <span class="font-semibold text-lg text-white block">{{ question.title }} </span>
                
                <p class="py-1 text-base mt-2">{{ question.answer }}</p>
                
            </div>
        </div>
    </div>
</div>