<footer class="fdb-block footer-large bg-dark">
	<div class="container">
		<div class="row align-items-top text-center text-white coord-info pb-4">
			<div class="col-md-5 text-md-left">
				<h3><i class="fa fa-angle-right"></i>Coordenação do Curso</h3>
				<p>
					<i class="fa fa-map"></i> Sala 221 (bloco dos professores)<br />
					<i class="fa fa-envelope-open"></i> computacao.ch@uffs.edu.br <br />
					<i class="fa fa-phone"></i> +55 49 2049 6504<br />
				</p>
				<h4>Pessoas</h4>
				<p>
					<i class="fa fa-user"></i> <strong>Prof. Braulio Adriano de Mello</strong>, <small>Coordenador</small>
				</p>
				<p>
					<i class="fa fa-user"></i> <strong>Prof. Giancarlo Dondoni Salton</strong>, <small>Coordenador Adjunto</small>
				</p>
				<p>
					<i class="fa fa-user"></i> <strong>Oziel Fragozo</strong>, <small>Secretário</small><br />
					<small>
						<i class="fa fa-map"></i> Secretaria Geral de Cursos (SEGEC-CH)<br />
						<i class="fa fa-envelope-open"></i> sgc.ch@uffs.edu.br <br />
						<i class="fa fa-phone"></i> +55 49 2049 6426 </small>
				</p>
				<h4>Correspondência</h4>
				<p>
					<i class="fa fa-map-marker"></i> Coordenação C. Computação, Rodovia SC 484 - Km 02, Fronteira Sul.
					Chapecó, SC, Brasil. CEP 89815-899
				</p>
			</div>
			<div class="col-md-1"></div>
			<div class="col-md-3 text-sm-left">
				<div class="row align-items-top text-center">
					<div class="col-md-12 text-sm-left">
						<h3><i class="fa fa-angle-right"></i>Sobre o curso</h3>
						<nav class="nav flex-column">
							<a class="nav-link active" href="https://www.uffs.edu.br/ingresso">Vagas e ingresso</a>
							<a class="nav-link" href="{{ site.url }}/grade">Grade curricular</a>
							<a class="nav-link" href="{{ site.url }}/infra">Infra-estrutura</a>
							<a class="nav-link" href="{{ site.url }}/pessoas">Pessoas</a>
							<a class="nav-link" href="{{ site.url }}/egressos">Egressos</a>
						</nav>
					</div>
				</div>
				<div class="row text-center breath-top">
					<div class="col-md-12 text-sm-left">
						<h3><i class="fa fa-angle-right"></i>Materiais e documentos</h3>
						<nav class="nav flex-column">
							<a class="nav-link active" href="{{ site.url }}/horarios">Horários</a>
							<a class="nav-link active" href="/calendario">Calendário do curso</a>
							<!-- <a class="nav-link active" href="https://www.froala.com">TCC</a>-->
							<a class="nav-link active"
								href="https://www.uffs.edu.br/atos-normativos/ppc/ccccch/2017-0002/@@download/documento_historico">PPC
								(projeto pedagógico)</a>
							<a class="nav-link"
								href="https://www.uffs.edu.br/atos-normativos/ppc/ccccch/2017-0002/@@download/documento_historico">Regulamento
								de TCC</a>
							<a class="nav-link"
								href="https://www.uffs.edu.br/atos-normativos/ppc/ccccch/2017-0002/@@download/documento_historico">Regulamento
								de ACC</a>
							<!-- <a class="nav-link" href="https://www.froala.com">Identidade visual</a> -->
							<a class="nav-link" href="https://cc.uffs.edu.br/faq/">FAQ do curso</a>
						</nav>
					</div>
				</div>
			</div>
			<div class="col-md-3 text-sm-left">
				<div class="row align-items-top text-center">
					<div class="col-md-12 text-sm-left">
						<h3><i class="fa fa-angle-right"></i>Social</h3>
						<div class="social-links">
							<a href="https://github.com/ccuffs"><i class="fab fa-github"></i></a>
							<a href="https://instagram.com/computacaouffs"><i class="fab fa-instagram"></i></a>
							<a href="https://facebook.com/ccuffs"><i class="fab fa-facebook"></i></a>
							<a href="https://twitter.com/computacaouffs"><i class="fab fa-twitter"></i></a>
							<a href="https://www.youtube.com/channel/UCWh4af0NJ_TeYLu0ufp_6Pg"><i
									class="fab fa-youtube"></i></a>
						</div>
					</div>
				</div>
				<div class="row text-center breath-top">
					<div class="col-md-12 text-sm-left">
						<h3><i class="fa fa-angle-right"></i>Grupos</h3>
						<nav class="nav flex-column">
							<a class="nav-link" href="{{ site.url }}/ca">Centro Acadêmico (CA)</a>
							<a class="nav-link" href="{{ site.url }}/empreendedorismo/empresa-junior">Empresa Junior</a>
							<!-- <a class="nav-link" href="/ncc">NCC</a> -->
						</nav>
					</div>
				</div>
			</div>
		</div>
		<div class="row mt-5">
			<div class="col text-center text-tiny"> Os ícones utilizados nesse site foram feitos por diversos artistas
				de flaticon.com.<br /> Icons made by <a href="https://www.flaticon.com/authors/nhor-phai" rel="nofollow"
					target="_blank">Nhor Phai</a>, <a href="https://www.flaticon.com/authors/freepik" rel="nofollow"
					target="_blank">Freepik</a>, <a href="https://www.flaticon.com/authors/eucalyp" rel="nofollow"
					target="_blank">Eucalyp</a>, <a href="https://www.flaticon.com/authors/geotatah" rel="nofollow"
					target="_blank">Geotatah</a> from <a href="https://www.flaticon.com" rel="nofollow"
					target="_blank">www.flaticon.com</a>
			</div>
		</div>
	</div>
</footer>