<footer class="fdb-block footer-large bg-dark">
	<div class="container">
		<div class="row align-items-top text-center text-white coord-info">
			<div class="col-md-5 text-md-left">
				<h3><i class="fa fa-angle-right"></i>Coordenação do Curso</h3>

				<p>
					<i class="fa fa-map"></i> Sala 222 (bloco dos professores)<br />
					<i class="fa fa-envelope-open"></i> computacao.ch@uffs.edu.br <br />
					<i class="fa fa-phone"></i> +55 49 2049 6504<br />
				</p>
				
				<h4>Pessoas</h4>
				
				<p>
					<i class="fa fa-user"></i> <strong>Prof. Fernando Bevilacqua</strong>, <small>Coordenador</small><br />
					<small>
						<i class="fa fa-envelope-open"></i> fernando.bevilacqua@uffs.edu.br <br />
						<i class="fa fa-phone"></i> +55 49 2049 6504
					</small>
				</p>
				
				<p>
					<i class="fa fa-user"></i> <strong>Prof. Luciano Lores Caimi</strong>, <small>Coordenador Adjunto</small><br />
					<small>
						<i class="fa fa-envelope-open"></i> lcaimi@uffs.edu.br <br />
						<i class="fa fa-phone"></i> +55 49 2049 6536
					</small>
				</p>

				<p>
					<i class="fa fa-user"></i> <strong>Oziel Fragozo</strong>, <small>Secretário</small><br />
					<small>
						<i class="fa fa-map"></i> Secretaria Geral de Cursos (SEGEC-CH)<br />
						<i class="fa fa-envelope-open"></i> sgc.ch@uffs.edu.br <br />
						<i class="fa fa-phone"></i> +55 49 2049 6426
					</small>
				</p>

				<h4>Correspondência</h4>

				<p>
					<i class="fa fa-map-marker"></i>
					Coordenação C. Computação, 
					Rodovia SC 484 - Km 02, Fronteira Sul. 
					Chapecó, SC, Brasil. CEP 89815-899
				</p>
			</div>

			<div class="col-md-1"></div>

			<div class="col-md-3 text-sm-left">
				<div class="row align-items-top text-center">
					<div class="col-md-12 text-sm-left">
						<h3><i class="fa fa-angle-right"></i>Sobre o curso</h3>
						<nav class="nav flex-column">
						<a class="nav-link active" href="https://www.uffs.edu.br/ingresso">Vagas e ingresso</a>
						<a class="nav-link" href="{{ site.url }}/grade">Grade curricular</a>
						<a class="nav-link" href="{{ site.url }}/infra">Infra-estrutura</a>
						<a class="nav-link" href="{{ site.url }}/pessoas">Pessoas</a>
						</nav>
					</div>
				</div>
				<div class="row text-center breath-top">
					<div class="col-md-12 text-sm-left">
						<h3><i class="fa fa-angle-right"></i>Materiais e documentos</h3>
						<nav class="nav flex-column">
						<a class="nav-link active" href="{{ site.url }}/horarios">Horários</a>
						<a class="nav-link active" href="/calendario">Calendário do curso</a> 
						<!-- <a class="nav-link active" href="https://www.froala.com">TCC</a>-->
						<a class="nav-link active" href="https://www.uffs.edu.br/campi/chapeco/cursos/graduacao/ciencia-da-computacao/documentos">PPC (projeto pedagógico)</a>
						<a class="nav-link" href="https://www.uffs.edu.br/campi/chapeco/cursos/graduacao/ciencia-da-computacao/documentos">Regulamento de TCC</a>
						<a class="nav-link" href="https://www.uffs.edu.br/campi/chapeco/cursos/graduacao/ciencia-da-computacao/documentos">Regulamento de ACC</a>
						<!-- <a class="nav-link" href="https://www.froala.com">Identidade visual</a> -->
						<a class="nav-link" href="https://ccuffs.github.io/faq/">FAQ do curso</a>
						</nav>
					</div>
				</div>
			</div>	
			
			<div class="col-md-3 text-sm-left">
				<div class="row align-items-top text-center">
					<div class="col-md-12 text-sm-left">
						<h3><i class="fa fa-angle-right"></i>Social</h3>
                        
                        <div class="social-links">
                            <a href="https://github.com/ccuffs"><i class="fa fa-github"></i></a>
                            <a href="https://instagram.com/computacaouffs"><i class="fa fa-instagram"></i></a>
                            <a href="https://facebook.com/ccuffs"><i class="fa fa-facebook"></i></a>
                            <a href="https://twitter.com/uffscc"><i class="fa fa-twitter"></i></a>
                            <a href="https://youtube.com/ccuffs"><i class="fa fa-youtube"></i></a>
                        </div>
					</div>
				</div>
				<div class="row text-center breath-top">
					<div class="col-md-12 text-sm-left">
						<h3><i class="fa fa-angle-right"></i>Grupos</h3>
						<nav class="nav flex-column">
						<a class="nav-link" href="{{ site.url }}/ca">Centro Acadêmico (CA)</a>
						<a class="nav-link" href="{{ site.url }}/empreendedorismo/empresa-junior">Empresa Junior</a>
						<!-- <a class="nav-link" href="/ncc">NCC</a> -->
						</nav>
					</div>
				</div>
			</div>
		</div>
	
		<div class="row mt-3">
			<div class="col text-center"></div>
		</div>
	</div>
</footer>
