<header class="">
  <div class="container">
    <nav class="navbar navbar-expand-md">
      <a class="navbar-brand" href="{{ site.url }}/">
        <img src="{{ site.url }}/images/logo/CC-logo-com-background.svg" title="Ciência da Computação"/>
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav11" aria-controls="navbarNav11" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav11">
        {% include navigation.html %}
      </div>
    </nav>
  </div>
</header>