<ul class="navbar-nav ml-auto">
	{% for link in site.data.navigation %}
    <li>
      {% if link.dropdown %}
        <div class="dropdown">
          <a href="javascript:void(0);" class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="{{ link.excerpt }}">
            {{ link.title }}
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% for item in link.dropdown %}
              {% if item.url == nil %}
                <div class="dropdown-divider"></div>
              {% else %}
                {% if item.url contains 'http' %}
                  {% assign domain = '' %}
                {% else %}
                  {% assign domain = site.url %}
                {% endif %}
                <a href="{{ domain }}{{ item.url }}" {% if item.url contains 'http' %}target="_blank"{% endif %} class="dropdown-item">{{ item.title }}</a>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      {% else %}
        {% if link.url contains 'http' %}
          {% assign domain = '' %}
        {% else %}
          {% assign domain = site.url %}
        {% endif %}
        <a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %} title="{{ link.excerpt }}">{{ link.title }}</a>
      {% endif %}
    </li>
  {% endfor %}
</ul>
