{% if include.id %}
    {% assign person = site.data.people | where: "id",include.id | first %}
{% else %}
    {% assign person = site.owner %}
{% endif %}

<span data-person-id="{{ person.id }}">
    <div class="person inline">
        <img src="{{ site.url }}/images/{{ person.avatar }}" alt="{{ person.name }}" class="img-responsive rounded-circle">
        {% if person.web %}
            <a href="{{ person.web }}" itemprop="author">{{ person.name }}</a>
        {% else %}
            <span itemprop="author">{{ person.name }}</span>
        {% endif %}
    </div>
</span>