<div class="col-sm-6" style="float: left;">
    <div class="row">
        <div class="col-4">
            <p><img alt="image" class="img-fluid rounded" src="{{ person.avatar }}"></p>
        </div>
        <div class="col-8">
            <h3><strong>{{ person.name }}</strong></h3>
            <p class="lead">{{ person.position }}</p>
            <p>{{ person.bio_academic }}</p>
            <p class="mt-4"><a class="btn btn-info" href="{{person.lattes}}">Curriculo Lattes</a></p>
        </div>
    </div>
</div>