{% if page.author %}
  {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %}
{% endif %}

{% if post.date %}
  {% assign date = post.date %}{% else %}{% assign date = page.date %}
{% endif %}

<div class="post-meta">
    <li>
        <div class="person">
            <img src="{{ site.url }}/images/{{ author.avatar }}" alt="{{ author.name }}" class="img-responsive rounded-circle">
            <p>
                {% if author.web %}
                    <a href="{{ author.web }}" itemprop="author">{{ author.name }}</a>
                {% else %}
                    <span itemprop="author">{{ author.name }}</span>
                {% endif %}
            </p>
            <p class="bio">{{ author.bio }}</p>
        </div>
    </li>

    <li class="float-right ml-4"><span class="btn btn-sm btn-outline-info">{{ page.categories | join:', ' }}</span></li>

    {% if page.tags.size > 0 %}
        <li class="float-right ml-4">
            <i class="fa fa-tags"></i>
            {{ page.tags | join: "," }}
        </li>
    {% endif %}

    <li class="float-right ml-4">
        <i class="fa fa-calendar"></i>
        <time datetime="{{ page.date | date: "%d-%m-%YT%H:%M:%SZ" }}" itemprop="datePublished">{{ date | date: "%d-%m-%Y" }}</time>
        {% if post.modified %}({{ site.data.messages.locales[site.locale].updated }}: <time datetime="{{ post.modified | date: "%d-%m-%YT%H:%M:%SZ" }}" itemprop="dateModified">{{ pagposte.modified | date: "%B %d, %Y" }}</time>){% endif %}
    </li>
</div>
