<div class="card" style="width: 18rem;" itemscope itemtype="http://schema.org/Article">
    <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">
        <img class="card-img-top" alt="{{ post.title }}" itemprop="image" src="{% if post.image.teaser and post.image.teaser contains '://' %}{{ post.image.teaser }}{% elsif post.image.teaser %}{{ site.url }}/images/{{ post.image.teaser }}{% else %}{{ site.url }}/images/{{ site.teaser }}{% endif %}" />
    </a>

    <div class="card-body">
        <h5 class="card-title" itemprop="name"><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h5>
        <p class="card-text mb-3" itemprop="description">{{ post.excerpt | strip_html | truncate: 160 }}</p>
    </div>

    <div class="card-footer">
        <small class="text-muted float-right">
            {% if post.date %}<p class="entry-date date published"><time datetime="{{ page.date | date: "%Y-%m-%dT%H:%M:%SZ" }}" itemprop="datePublished">{{ post.date | date: "%Y-%m-%d" }}</time></p>{% endif %}
        </small>
        {% include post-meta-author-inline.html %}
    </div>
</div>

