<div class="row post-grid-mini">
  <div class="col-1 image">
      <a href="{{ post.url }}">
          <img alt="image" class="img-fluid" src="{% if post.image.teaser and post.image.teaser contains '://' %}{{ post.image.teaser }}{% elsif post.image.teaser %}{{ site.url }}/images/{{ post.image.teaser }}{% else %}{{ site.url }}/images/{{ site.teaser }}{% endif %}">
      </a>
  </div>
  <div class="col-11">
    <h3>{% if post.url %} <a href="{{ post.url }}">{{ post.title }}</a> {% else %} {{ post.title }} {% endif %}</h3>
    
    {% if post.type == "news" %}
      <!-- News item -->
      {% if post.excerpt %}
        {% assign text = post.excerpt %}
      {% else %}
        {% assign text = post.content %}
      {% endif %}
      <p>{{ text | strip_html | strip_newlines | truncate: 200 }} <a href="{{ post.url }}">[ler mais]</a></p>
      <p class="meta">
        <i class="fa fa-calendar"></i> {{ post.date }} {% if post.tags %}<i class="fa fa-tags"></i> {{ post.tags | join: "," }}{% endif %}
      </p>
    {% elsif post.type contains "project-" %}
      <!-- Research or extension project -->
      {% if post.excerpt %}
        {% assign text = post.excerpt %}
      {% else %}
        {% assign text = post.description %}
      {% endif %}
      <p>{{ text | strip_html | strip_newlines | truncate: 250 }} <!-- <a href="{{ post.url }}">[ler mais]</a>--></p> 
      <div class="meta">
        {% include person-inline.html name=post.author id=post.author_id %}
        <i class="fa fa-calendar ml-3 mr-1"></i> {{ post.date_start }} {% if post.date_end %} a {{ post.date_end }} {% endif %} 
        {% if post.funding %}<i class="fa fa-money-bill ml-3 mr-1"></i> {{ post.funding }}{% endif %} 
        {% if post.tags %}<i class="fa fa-tags ml-3 mr-1"></i> {{ post.tags | join: "," }}{% endif %} 
      </div>
    {% else %}
      <!-- Qualquer item de noticia -->
      {% if post.excerpt %}
        {% assign text = post.excerpt %}
      {% else %}
        {% assign text = post.content %}
      {% endif %}
      <p>{{ text | strip_html | strip_newlines | truncate: 200 }} <a href="{{ post.url }}">[ler mais]</a></p>
      <p class="meta">
        <i class="fa fa-calendar"></i> {{ post.date }} {% if post.tags.size > 0 %}<i class="fa fa-tags"></i> {{ post.tags | join: "," }}{% endif %}
      </p>
    {% endif %}
  </div>
</div>
