.fdb-block {
    padding-top: 30px !important;
    padding-bottom: 80px !important;
}

.hero-block {
    padding-top: 80px;
    height: 250px;
    background-color: black;
}

p {
    color: #7c8694;
}

.coord-info i {
    padding-right: 10px;
 }

 .breath-top {
     margin-top: 30px;
 }

 footer .nav-link {
    color: #8892a0 !important;
 } 
