.fdb-block {
    padding-top: 30px !important;
    padding-bottom: 80px !important;
}

.hero-block {
    padding-top: 80px;
    height: 250px;
    background-color: black;
}

p {
    color: #7c8694;
}