.fdb-block {
    padding-top: 30px !important;
    padding-bottom: 80px !important;
}

.hero-block {
    padding-top: 80px;
    height: 250px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

p {
    color: #7c8694;
}

.coord-info i {
    padding-right: 10px;
 }

.breath-top {
    margin-top: 30px;
}

footer .nav-link {
    color: #8892a0 !important;
}

header .dropdown-toggle {
    color: black;
}

header .navbar-brand {
    color: black;
    font-weight: bold;
}

header .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
}