/* Dropdown menu */

.dropdown:hover>.dropdown-menu {
	display: block;
}

.dropdown>.dropdown-toggle:active {
	/* Without this, clicking will make it sticky */
	pointer-events: none;
}

.navbar-nav li {
	margin-right: 1.2em;
	margin-top: 0.3em;
}
