/* ==========================================================================
   Dropdown menu - https://codepen.io/KillerJK/pen/braqMJ
   ========================================================================== */

.dropdown:hover>.dropdown-menu {
	display: block;
}

.dropdown>.dropdown-toggle:active {
	/*Without this, clicking will make it sticky*/
	pointer-events: none;
}

.dropdown-menu {
	margin-top: -10px !important;
	padding-top: 15px !important;
}

.dropdown-item {
	text-transform: initial !important;
	height: 45px !important;
}

.dropdown-menu a:link, 
.dropdown-menu a:active, 
.dropdown-menu a:visited,
.dropdown-menu a:hover {
	text-decoration: none !important;
}