.post-grid-mini {
    margin-bottom: 10px;
}

.post-grid-mini div.image {
    padding-top: 10px;
}

.post-grid-mini p {
    line-height: 1.3em;
    color: #4e545c;
}

.post-grid-mini p.meta {
    font-size: 0.95em;
}

.post-grid-mini p.meta i {
    margin-left: 1.2em;
    margin-right: 0.3em;
}

.post-grid-mini p.meta i:first-child {
    margin-left: 0;
}
