@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: #1d1c48;
  color: white;
}

/* For Firefox */
body {
  scrollbar-width: thin;
  scrollbar-color: #3b3993 #2c2b6e;
}

/* For WebKit-based browsers like Chrome and Safari */
body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #2c2b6e;
}

body::-webkit-scrollbar-thumb {
  background-color: #3b3993;
  border-radius: 20px;
  border: 3px solid #2c2b6e;
}

body {
  color: #1d1c48 !important;
}

a {
  text-decoration: none;
}

.container {

  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.imagem {
  width: 200px;
  height: 200px;
  grid-row: 1/4;


}

.imagem img {
  border-radius: 15px;
  width: 100%;
  height: 100%;
}

.palestrantes {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 5%;
  grid-row-gap: 50px;
  text-align: justify;

}


.caixa {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  gap: 10px;
}




@media screen and (max-width : 450px) {

  .palestrantes {
    width: 80%;
    margin: 0 auto;
    display: grid;
    flex-direction: column;
  }

  .container {
    width: 80%;
  }

  .imagem {
    width: 100px;
    height: 100px;
    grid-row: 1/4;


  }



}

@media screen and (max-width : 776px) and (min-width : 450px) {

  .palestrantes {
    width: 80%;
    margin: 0 auto;
    display: grid;
    flex-direction: column;
  }

  .container {
    width: 80%;
  }

  .imagem {
    width: 150px;
    height: 150px;
    grid-row: 1/4;


  }


}

@media screen and (min-width:776px) {
  .container {
    width: 80%;
  }

  .palestrantes {
    width: 80%;
    margin: 0 auto;
    display: grid;
    flex-direction: column;
  }
}

.header {
  padding-left: 1rem;
  display: flex;
  margin-block: 1vw;
  row-gap: 4rem;
  flex-direction: column;
  max-width: 100vw;
}

.header_strip {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header_strip_title {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 2rem;
}

.header_strip_points {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 2rem;
}

.header_image {
  width: 18rem;
}

.header_image_title {
  width: 45rem;
}

.header_infos {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header_icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  display: flex;
  gap: 1vw;
}

.header_icon i {
  padding-top: 1rem;
  color: goldenrod;
}


.header_infos_titles {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1.3rem;
  margin: auto 0;
  align-self: center;
  padding-bottom: 1rem;
}

.header_points_titles {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1.3rem;
  margin: auto 0;
  align-self: center;
  padding-bottom: 1rem;
}

.header_buttons {
  display: flex;
  justify-content: right;
}

.header_buttons_titles {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  margin: 0.8rem;
  width: 10vw;
}

.header_title {
  background-color: #c3a254;
  margin: 2rem;
  font-size: 1.7rem;
  padding-inline: 2rem;
  text-align: center;
  padding-block: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
}

.header_buttons_inscricao {
  background-color: white;
  color: black;
  padding-inline: 2rem;
  padding-block: 1rem;
  border-radius: 20rem;
  width: 10rem;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  margin-top: 1rem;
  align-self: center;

}

.header_inscricao {
  background-color: white;
  color: black;

}


.footer {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  background-color: #1E1E1E;
  font-family: 'Poppins', sans-serif;
}

.footer a {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-decoration: none;
  background-color: #1E1E1E;
}

.footer a p {
  background-color: #1E1E1E;
}

.footer a img {
  max-width: 3em;
  background-color: #1E1E1E;
}

.main_footer_sponsorship_and_support_and_organization {
  max-width: 100%;
  font-family: 'Poppins', sans-serif;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: 1.7rem;
}

/* .main_footer_sponsorship_and_support img {
    max-width: 100%;
} */
.main_footer_sponsorship img {
  max-width: 8em;
}

.main_footer_sponsorship img {
  margin: 0.5em;
}

/*.main_footer_sponsorship_ouro img {
   max-width: 8em;
   max-width: 100%;

}*/
.main_footer_sponsorship_bronze img {
  max-width: 6em;
}
.main_footer_sponsorship_diamante img {
  max-width: 8em;
  width: 100%;
}
.main_footer_sponsorship_diamante_p {
  color: #2AA9BA;
  display: inline;
}
.main_footer_sponsorship_ouro_p {
  color: #ffd700;
  display: inline;
}

.main_footer_sponsorship_bronze_p {
  color: #cd7f32;
  display: inline;
}

.main_footer_organization img {
  max-width: 4em;
  margin: 0.5em;
}

@media screen and (max-width: 470px) {

  .main {
    row-gap: 2rem;
  }

  .main__titleDiv__title {
    padding-inline-start: 1.5rem;
    padding-block: 0.7rem;
    font-size: 2rem;
  }

  .main__titleDiv__title_v2 {
    font-size: 1.8rem;
  }

  .main__programmations__div__div__title {
    font-size: 1.1rem;
  }

  .main__programmations__div__div__title__type2 {
    font-size: 1.1rem;
  }

  .main__programmations__div__div__anotherTitle {
    font-size: 1rem;
  }

  .main__programmations__div__div__subtitle {
    font-size: 0.8rem;
  }

  .main__image {
    width: 5rem;
  }

  .main__programmations__div {
    flex-direction: column;
    row-gap: 2.5rem;
    margin: auto;
  }

  .main__programmations__interval {
    flex-direction: column;
    row-gap: 3rem;
    margin: auto;
  }

  .main__programmations__div__interval {
    width: 90vw;
  }

  .main_footer_sponsorship_and_support {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 8em;
  }

  .main_footer_sponsorship_and_support img {
    max-width: 8em;
  }

  .main_footer_organization img {
    max-width: 5em;
  }
}

@media screen and (min-width: 405px) and (max-width: 470px) {
  .header_title {
    font-size: 1.5rem;
    align-self: center;
  }

  .header_strip_title {
    flex-direction: column;
    justify-content: space-evenly;
  }

  .header_image_title {
    width: 45rem;
    align-self: center;
  }

  .header_buttons_titles {
    display: none;
  }

  .header_image {
    width: 12rem;
    height: 2rem;
  }
}

@media screen and (min-width: 776px) and (max-width: 1170px) {
  .header_strip_title {
    flex-direction: column;
    justify-content: space-evenly;
  }

  .header_image_title {
    width: 45rem;
    align-self: center;
  }

  .header_title {
    align-self: center;
    font-size: 1.5rem;
  }

  .header_image {
    width: 15rem;
    height: 3rem;
  }
}

@media screen and (min-width: 776px) and (max-width: 1124px) {
  .header_strip_title {
    flex-direction: column;
    justify-content: space-evenly;
  }

  .header_image_title {
    width: 45rem;
    align-self: center;
  }

  .header_title {
    align-self: center;
    font-size: 1.5rem;
  }

  .header_buttons_titles {
    font-size: 0.8rem;
  }

  .header_image {
    width: 15rem;
    height: 3rem;
  }
}

@media screen and (min-width: 471px) and (max-width: 548px) {
  .header_title {
    font-size: 1.5rem;
    align-self: center;
  }

  .header_strip_title {
    flex-direction: column;
    justify-content: space-evenly;
  }

  .header_image_title {
    width: 30rem;
    align-self: center;
  }

  .header_buttons_titles {
    display: none;
  }

  .header_image {
    width: 15rem;
    height: 3rem;
  }
}


@media screen and (min-width: 548px) and (max-width: 776px) {
  .main_footer_organization {
    flex-direction: column;
    /* max-width: 60%; */
  }

  .main_footer_organization img {
    flex-direction: column;
    /* max-width: 60%; */
  }

  .main_footer_sponsorship_ouro img {
    flex-direction: column;
  }

  .header_image {
    width: 15rem;
    height: 3rem;
  }
}

@media screen and (min-width: 548px) and (max-width: 776px) {
  .header_title {
    font-size: 1.5rem;
    align-self: center;
  }

  .header_strip_title {
    flex-direction: column;
    justify-content: space-evenly;
  }

  .header_image_title {
    width: 30rem;
    align-self: center;
  }

  .header_buttons_titles {
    margin: 2rem;
    font-size: 0.7rem;
  }

  .header_image {
    width: 15rem;
    height: 3rem;
  }
}

@media screen and (max-width: 500px) {
  .header_title {
    font-size: 1.5rem;
    align-self: center;
  }

  .header_strip_title {
    flex-direction: column;
    justify-content: space-evenly;
  }

  .header_image_title {
    width: 20rem;
    align-self: center;
  }

  .header_strip_points {
    flex-direction: column;
    margin: 0rem;
  }

  .header_buttons_titles {
    display: none;
  }

  .header {
    margin-block: 0vw;
    row-gap: 0rem;
  }

  .header_image {
    width: 12rem;
    height: 2rem;
  }
}

.main {
  display: flex;
  margin-block: 3vw;
  row-gap: 4rem;
  flex-direction: column;
  max-width: 100vw;
}

.main__programmations {
  display: flex;
  flex-direction: column;
  row-gap: 5rem;
}

.main__titleDiv {
  display: flex;
  justify-content: center;
}

.main__titleDiv__title {
  background-color: #c3a254;
  margin: auto;
  font-size: 2rem;
  padding-inline: 2rem;
  padding-block: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
}

.main__titleDiv__title_v2 {
  background-color: #c3a254;
  display: flex;
  justify-content: center;
  margin-block-start: 1vw;
  font-size: 1.7rem;
  padding-inline: 1.5rem;
  padding-block: 0.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
}

.main_titleDiv__dayTitle {
  margin: 1vw;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 2rem;
  padding: 1vw;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.main__images__6 {
  width: fit-content;
  text-align: center;
}

.main__programmations__div__div__info {
  margin: auto 0;
}

.main__image {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  position: relative;
  right: -20px;
  bottom: 40px;
}

.main__image_2 {
  margin: auto;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  z-index: 2;
}

.main__programmations__div {
  margin: auto;
  flex-direction: column;
  row-gap: 5rem;
  display: flex;
}

.main__programmations__div__div {
  display: flex;
  gap: 3vw;
  max-width: 80vw;
  margin: auto;
}

.main__programmations__div__div_withImage {
  display: flex;
  gap: 3vw;
  width: 64vw;
  margin: auto;
}

.main__programmations__div__div__hours {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  margin: auto 0;
}

.main__programmations__div__div__title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 1.7rem;
  text-align: justify;
}

.main__programmations__div__div__icon {
  margin: auto 0;
  display: flex;
  gap: 1vw;
}

.main__programmations__div__div__pImages {
  display: flex;
  margin: auto 0;
}

.main__programmations__div__div__grap {
  margin: auto;
}

.main__programmations__div__div__icon i {
  margin: auto 0;
  font-size: 1.3rem;
  color: goldenrod;
}

.main__programmations__div__div__subtitle {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.main__programmations__div__div__anotherTitle {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  color: rgb(219, 218, 218);
  font-size: 1.3rem;
}

.codingChallenge__title {
  background-color: #c3a254;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  padding-inline: 1.5rem;
  padding-block: 0.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
}

.main__programmations__div__div__anotherTitle_title {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
  color: rgb(110, 107, 107);
  font-size: 1.3rem;
}

.main__programmations__div__div__title__type2 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1.7rem;
}

.main__programmations__teste2 {
  display: grid;
  grid-template-columns: "30vw 30vw";
  grid-template-areas: "main_grapper_1 main_grapper_2";
}

@media screen and (max-width: 1641px) {
  .main__programmations__div__div_withImage {
    width: 75vw;
  }
}

@media screen and (max-width: 1381px) {
  .main__programmations__div__div_withImage {
    width: 85vw;
  }
}

@media screen and (max-width: 1206px) {
  .main__programmations__div__div_withImage {
    width: 90vw;
  }
}

@media screen and (max-width: 1134px) {
  .main__titleDiv__title {
    font-size: 1.5rem;
  }

  .codingChallenge__title {
    font-size: 1.5rem;
  }

  .main__titleDiv__title_v2 {
    font-size: 1.3rem;
  }

  .main__programmations__div__div__title {
    font-size: 1.2rem;
  }

  .main__programmations__div__div__anotherTitle {
    font-size: 1.1rem;
  }

  .main__programmations__div__div__anotherTitle_title {
    font-size: 1rem;
  }

  .main__image_2, .main__image {
    width: 5rem;
    height: 5rem;
  }
}

@media screen and (max-width: 824px) {
  .codingChallenge__title {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 717px) {

  .main {
    row-gap: 3rem;
  }

  .codingChallenge__title {
    font-size: 1.2rem;
  }

  .main_titleDiv__dayTitle {
    font-size: 1.4rem;
  }

  .main__titleDiv__title_v2 {
    font-size: 1.2rem;
  }

  .main__programmations__div__div__title {
    font-size: 0.9rem;
  }

  .main__programmations__div__div__anotherTitle {
    font-size: 0.85rem;
  }

  .main__programmations__div__div__anotherTitle_title {
    font-size: 1rem;
  }

  .main__image_2, .main__image {
    width: 4rem;
    height: 4rem;
  }

  .main__programmations__div__div__hours {
    font-size: 1rem;
  }

  .main__programmations__div__div__subtitle {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 554px) {
  .main__image_2, .main__image {
    width: 3rem;
    height: 3rem;
  }

  .main__image {
    right: -25px;
    bottom: 33px;
  }
}

@media screen and (max-width: 506px) {

  .main {
    row-gap: 2rem;
  }

  .main__programmations__div {
    row-gap: 2.5rem;
  }

  .main__image_2, .main__image {
    width: 2.5rem;
    height: 2.5rem;
  }

  .codingChallenge__title {
    font-size: 1rem;
  }

  .main_titleDiv__dayTitle {
    font-size: 1.2rem;
  }

  .main__titleDiv__title_v2 {
    font-size: 1rem;
  }

  .main__programmations__div__div__title {
    font-size: 0.8rem;
  }

  .main__programmations__div__div__anotherTitle {
    font-size: 0.7rem;
  }

  .main__programmations__div__div__anotherTitle_title {
    font-size: 0.8rem;
  }

  .main__programmations__div__div__hours {
    font-size: 0.85rem;
  }

  .main__programmations__div__div__subtitle {
    font-size: 0.6rem;
  }

  .main__programmations__div__div__icon i {
    font-size: 1rem;
  }

  .main__programmations__div__div_withImage {
    width: 90vw;
  }
}

@media screen and (max-width: 420px) {

  .codingChallenge__title {
    font-size: 0.8rem;
  }

  .main__programmations__div__div__title {
    font-size: 0.7rem;
  }

  .main__programmations__div__div__anotherTitle_title {
    font-size: 0.6rem;
  }

  .main__titleDiv__title {
    font-size: 1.2rem;
    padding-inline: 1.5rem;
  }

}